.slider { 	
	height: 250px; 
	position:relative;
	/* box-shadow: 0px 0px 9px rgba(0,0,0,0.15); */
	border: 4px solid #757575;
	border-radius: 10px;
}
.slider-content {
	border-radius: 5px;
	width:100%;
	height:100%;
	overflow: hidden;
	position:relative;
}
.slide {
	width:100%;
	height:100%;
}
.slider-controls {
	position:absolute;
	right:15px;
	bottom:12px;
	text-align:center;
}
.slider-controls .control-slide {
	margin:2px;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../slides/buttons/radioBg.png) center bottom no-repeat; 
}
.slider-controls .control-slide:hover {
	cursor:pointer;
	background-position:center center;
}
.slider-controls .control-slide.active {
	background-position:center top;
}
.prew, .next {
	display:none;
	width:15px;
	height:100%;
	position:absolute;
	top:0;
	overflow:hidden;
	text-indent:-999px;
	background:url(../slides/buttons/arrowBg.png) left center no-repeat;
	opacity:0.8;
	z-index:3;
}
.prew {
	left:10px;
}
.next {
	right:10px;
	background:url(../slides/buttons/arrowBg.png) right center no-repeat;
}
.prew:hover, .next:hover {
	opacity:1;
}
.slider-content:hover .prew, .slider-content:hover .next {
	display:block;
}